@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

#root {
	height: 100%
}

@layer base {
	:root {
		--gradient: linear-gradient(to top left, #9400D3, #4B0082);

		--background: 265 65% 4.8%;
		--foreground: 265 10% 98%;

		--muted: 265 50% 18%;
		--muted-foreground: 265 10% 56%;

		--popover: 265 45% 7.8%;
		--popover-foreground: 265 10% 98%;

		--card: 265 45% 7.8%;
		--card-foreground: 265 10% 98%;

		--border: 265 50% 18%;
		--input: 265 50% 18%;

		--primary: 265 100% 60%;
		--primary-foreground: 265 10% 6%;

		--secondary: 265 50% 18%;
		--secondary-foreground: 265 10% 98%;

		--accent: 265 50% 18%;
		--accent-foreground: 265 10% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 265 10% 98%;

		--ring: 265 100% 60%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
	font-family: "IranNastaliq";
	src: url("@font/IranNastaliq.ttf");
}

@font-face {
	font-family: "Maktoob";
	src: url("@font/A Maktoob.ttf");
}

@font-face {
	font-family: "BZiba";
	src: url("@font/B Ziba_0.ttf");
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(265 100% 60%);
}
